<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Eliminar Solicitud</ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/logo municipalidad.png">
    </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card-content>
  <form>
    <ion-item>
      <ion-label position="floating">
        Seleccione la Solicitud
      </ion-label>
      <ion-select placeholder="Seleccione una opción">
        <ion-select-option value="1">Calle en mal estado - Avenida Cristobal Colon n°9000 - En la intersección de las calles se ha formado un hoyo,
            cada vehiculo que pasa se ve afectado
        </ion-select-option>
        <ion-select-option value="2">Acumulación de basura - Gran bretaña n°3150 - Se genero punto de basura espontáneo por parte de los vecinos, se han acumulado
          muchas bolsas, sacos, colchones, muebles viejos y artículos electrónicos en mal estado.</ion-select-option>
        <ion-select-option value="3">Vereda en mal estado - Avenida La Reconquista n° 890 - Se ha levantado el pavimento de la vereda por el crecimiento de las raices
          de los arboles, varios vecinos han tenido caídas por el desnivel y grietas existentes.</ion-select-option>
      </ion-select>
      <br>
      <ion-button expand="block" shape="round">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>  
        Eliminar solicitud</ion-button>
    </ion-item>
  </form>
</ion-card-content>
</ion-content>
