<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Solicitudes</ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/logo municipalidad.png">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding" style="background:rgb(157, 194, 224)">
        <div class="solicitud">
          <h2 class="tipo-solicitud">Calle en mal estado</h2>
          <p class="direccion">Dirección: Avenida Cristobal Colon n°9000, esquina Puerto de Palos</p>
          <p class="descripcion">Descripción: En la intersección de las calles se ha formado un hoyo,
            cada vehiculo que pasa se ve afectado</p>
            <ion-img src="../../assets/calle.jpg" style="width: 100%"  alt="Fotografía de la calle afectada">
              
            </ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding" style="background:rgb(157, 194, 224)">
        <div class="solicitud">
          <h2 class="tipo-solicitud">Acumulación de basura</h2>
          <p class="direccion">Dirección: Gran bretaña n°3150, cerca del parque costanera</p>
          <p class="descripcion">Descripción: Se genero punto de basura espontáneo por parte de los vecinos, se han acumulado
            muchas bolsas, sacos, colchones, muebles viejos y artículos electrónicos en mal estado.
            <ion-img src="../../assets/basural.jpg" style="width: 100%"  alt="Fotografía punto de acumulación de basura">
              
            </ion-img>
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding" style="background:rgb(157, 194, 224)">
        <div class="solicitud">
          <h2 class="tipo-solicitud">Vereda en mal estado</h2>
          <p class="direccion">Dirección: Avenida La Reconquista n° 890</p>
          <p class="descripcion">Descripción: Se ha levantado el pavimento de la vereda por el crecimiento de las raices
            de los arboles, varios vecinos han tenido caídas por el desnivel y grietas existentes.</p>
            <ion-img src="../../assets/vereda.jpg" style="width: 100%"  alt="Fotografía de la vereda afectada">
              
            </ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
